@import "tailwindcss";

@theme {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #3C3757;
  --color-secondary: #F176AE;
  --color-secondaryD: #D3A373;
  --color-tertiary: #999999;
  --color-txt: #B08968;
  --color-txtS: #E6CCB2;
  --color-bck: #3C3757;
  --color-bckS: #F9F6F4;
}

:root {
  font-family: 'montserrat';
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #3C3757;
  --color-secondary: #F176AE;
  --color-secondaryD: #D3A373;
  --color-tertiary: #999999;
  --color-txt: #B08968;
  --color-txtS: #E6CCB2;
  --color-bck: #3C3757;
  --color-bckS: #F9F6F4;
}

html {
  /* background-color: var(--color-secondary); */
  background-color: var(--color-bckS);
  /* max-width: 1920px; */
  max-width: 2560px;
  /* 2k */
  margin: auto;
  scroll-behavior: smooth;
  padding: 0;
  /* margin: 0; */
}

@font-face {
  font-family: 'valky';
  src: url('/assets/fonts/valky.otf');
}

.mainfont {
  font-family: 'Noto Serif Display';
}

button{
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: var(--color-primary) !important;
}

.scroller-thin {
  overflow-y: auto;
  /* Ensure scrolling is enabled */
}

.scroller-thin::-webkit-scrollbar {
  width: 0px;
  height: 8px;
  border-radius: 4px;
  /* Use border-radius instead of -webkit-border-radius */
}

.scroller-thin::-webkit-scrollbar-thumb {
  background: #ccc;
  /* Customize the scrollbar thumb */
  border-radius: 4px;
}

.scroller-thin::-webkit-scrollbar-track {
  background: #f0f0f0;
  /* Customize the scrollbar track */
}

.available {
  /* fill: #0e37524d; */
  fill: #119b244d;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease 0s;
  opacity: 1;
  /* stroke: #fff; */
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 1px;
  outline: none;
  width: 100%;
}

.filtered {
  fill: #21434B;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 1;
  /* stroke: white; */
  justify-content: center;
  align-items: center;
  display: flex;
  /* stroke-width: 1px; */
  outline: none;
  width: 100%;
}

.filtered:hover {
  fill: #21434B;
  opacity: 0.9;
}

.available:hover {
  /* fill: #0E3752; */
  fill: #10771ea2;
  opacity: 0.8;
}

.sold {
  fill: #8b0000;
  opacity: 0.5;
  stroke-width: 1px;
  stroke: white;
}
.reserved{
  fill: #fd8b20;
  opacity: 0.5;
  stroke-width: 1px;
  stroke: white;
}